
{% extends 'main.html' %}

{% block groups %}

  {% if community_list %}

    {% for community in  community_list%}
      {% include "community_button_component.html" %}
      {% endfor %}  
  {% else %}
    <div> No communities found D: </div>
    
  {% endif %}

{% endblock groups %}


{% block boardheader %}

<a href="{% url "createpost" %}"><div class="button" style = "width: 128px"> create post </div></a>

{% endblock boardheader %}


{% block board %}

{% if post_list %}

<ul style="padding: 0">

 {% for post in post_list %}
  {% include "post_component.html" %}

{% endfor %}
  </ul>
{% else %}
  <p>Wow such empty :D</p>
{% endif %}

{% endblock board %}

{% block friends %}
  {% for friend in friend_list %}
    {% include "user_button_component.html" %}

  {% endfor %}
{% endblock friends %}
