:root {
  --clr-primary-500: hsl(0, 0%, 28%);
  --clr-primary-400:hsl(0, 0%, 39%);
  --clr-primary-300: hsl(0, 0%, 11%);
  --clr-accent-400: hsl(0, 0%, 100%);
  --clr-accent-300: hsl(298, 100%, 39%);
}

.small_image{
    width: 32px;
    height: 32px;
    max-width: 32px;
    max-height: 32px;

}

.rounded{
    border-radius: 12px;
}


.light_gray{
    background-color: var(--clr-primary-400);
}

.button{
  border-radius: 12px;
  border: 1px solid;
  border-color: var(--clr-accent-400);
  height: 25px;
  line-height: 25px;
  background-color: var(--clr-primary-500);
}

@keyframes button_animation{
  from {background-color: var(--clr-primary-500);}
  to {background-color: var(--clr-accent-300);}
}

.button_clicked{
  border-radius: 12px;
  border: 1px solid;
  border-color: var(--clr-accent-400);
  height: 25px;
  line-height: 25px;
  background-color: var(--clr-accent-300);

  animation-name: button_animation;
  animation-duration: 0.5s;
}

.small_button{
  width: 300px;
  height: 32px;
  max-width: 300px;
  max-height: 32px;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button_text{
  line-height: 32px;
}

.padding_left{
  padding-left: 10px;
}

.padding_right{
  padding-right: 10px;
}

.center_text{
  text-align: center;
}

.float_left{
  float: left;
}

.margin_small{
  margin: 10px 10px;
}

.medium_image{
  width: 128px;
  height: 128px;
}

.hidden{
  opacity: 0;
  display: none;
  transition: opacity 1s;
}

.visible{
  opacity: 1;
  display: inline;
  transition: opacity 1s;
}

.post_image{
  margin-top: 10 px;
  clear: both;
}

hr{
  border: 1px solid var(--clr-primary-500);
}

#groups{
  background-color: var(--clr-primary-300);
  float: left; 
  width: 12%;
  padding: 10px;
  height: 100vh;
}

#post{
  border-radius: 12px;
  background-color: var(--clr-primary-300);
  border: 1px solid var(--clr-primary-500);
  padding: 25px;
  margin-bottom: 25px;
  margin-top: 25px;
}

a:link {
  color: var(--clr-accent-400);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: var(--clr-accent-400);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: var(--clr-accent-400);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: var(--clr-accent-400);
  background-color: transparent;
  text-decoration: underline;
}
