
{% extends 'main.html' %}


{% block board %}

{%if post%}
<div id = "post" style="overflow: hidden;">
  <img src="purpledidlogo.png" height="32px" style="float: left; border-radius: 50%; margin-right: 10px;">
  <div style = "float: right; color: gray;"> {{post.pub_date}} </div>
  <h2 style="margin-top: 0;">{{post.title}} </h2>
  {% if post.author %}
  <h5 style="margin-top: 0; color: gray;"> user: &nbsp; {{post.author}} </h5>
  {% else %}
  <h5 style="margin-top: 0; color: gray;"> user: &nbsp; [deleted] </h5>
  {% endif %}

  <div>
  {% if  post.image %}
    <img src="{{ post.image.url }}" >
  {% endif %}
  
  {{post.content}}
  </div>
  
  <div style="margin-top: 25px; float: left;  margin-right: 10px; padding: 5px 10px;" class="button"> 
    <img src="plusicon.png" height="100%" style="float: left; border-radius: 50%; margin-right: 10px;">
    <div style="float: left; margin-top: 5px;"> 100 </div>
  </div>
  <div style="margin-top: 25px; float: left; margin-right: 10px; padding: 5px 10px;" class="button"> 
    <img src="Bez commenticon.png" height="100%" style="float: left; border-radius: 50%; margin-right: 10px;">
    <div style="float: left; margin-top: 5px;"> Comment </div>
  </div>

</div>

{% comment %} adding comment {% endcomment %}

  <div id = "comment" style="overflow: hidden;">

    {% if request.user.is_authenticated %}
    <form method="POST" action="" formnovalidate> 
      {% csrf_token %}
      {{form.as_p}}

      {% comment %} <h2 style="margin-top: 0;">Add comment</h2> {% endcomment %}
      {% comment %} <div>   {% endcomment %}
        {% comment %} <input type="text" style="width: 100%; margin-bottom: 5px; height: 25px; border-radius: 25px; background-color: gray;" value="Add comment*"> {% endcomment %}
      {% comment %} </div> {% endcomment %}

      {% comment %} <div style="margin-top: 5px; float: left; margin-right: 10px; padding: 5px 10px;" class="button"> {% endcomment %}

      {% comment %} <img src="Bez commenticon.png" height="100%" style="float: left; border-radius: 50%; margin-right: 10px;"> {% endcomment %}
        {% comment %} <div style="float: left; margin-top: 5px;"> Submit </div> {% endcomment %}
      <input type="Submit" value = "Submit"/>
      {% comment %} </div> {% endcomment %}
    </form>
    {% else %}
      <h1> Login to post comments </h1>
    {% endif %}
  </div>

  {%if comments%}
    {% for comment in comments%}

      {% include "comment_component.html" %}
    {%endfor%}
  {%else%}
    <h1>no comments D: </h1>

  {%endif%}

{%else%}
  <h1>no post found D: </h1>
{% endif %}



{% endblock board%}