{% load static %}

<a href='{% url "user_profile" friend.id %}' style="">
    <div class="light_gray rounded small_button" style="clear: both; margin-top: 10px"> 
        {% if friend.avatar %}
            <img src={{friend.avatar.url}} class="rounded small_image" style="float: left">
        {% else %}
            <img src={% static "images/default_avatar.png" %} class="rounded small_image" style="float: left">
        {% endif %}
        
        
        
        <div style="float: left; overflow: hidden; margin-left: 10px" class="button_text" > {{friend.username}} </div>
    </div>
</a>