{% extends 'main.html' %}
{% block board %}

{%if user%}
    {% if user.avatar %}
        <img src="{{ user.avatar.url }}" />
    {% endif %}

    <p> {{ user.username }} </p>
    <a href="{% url "user_profile_activity" user.id 'posts' %}"><p> posts  </p></a>
    <a href="{% url "user_profile_activity" user.id 'comments' %}"><p> comments  </p></a>
    

{% if post_list %}

<ul>    
    
    {% for post in post_list %}
        {% include "post_component.html" %}
        {% endfor %}

{% endif %}

{% if comment_list %}

<ul>    
    
    {% for comment in comment_list %}
        {% include "comment_component.html" %}
        {% endfor %}

{% endif %}
    
{% else %}
    <h5> no user found D: </h5>

{% endif %}



{% endblock board%}